certifi==2022.12.7
chardet==3.0.4
Django==2.0.7
django-appconf==1.0.2
django-ipware==1.1.6
idna==2.7
jsonfield==2.0.2
pytz==2018.5
requests==2.19.1
selenium==3.13.0
six==1.11.0
stripe==2.0.1
urllib3==1.23