{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;">Account Management: </h1>

    <table>
        <tr>
            <td>
                {% if timestamp %}
                    {% if period_end == True %}
                        Your subscription will end: <strong>{{ timestamp }}</strong>
                    {% else %}
                        Your subscription will be renewed: <strong>{{ timestamp }}</strong>
                    {% endif %}
                {% else %}
                    <a href="{% url 'charge' %}">Subscribe now!</a>
                {% endif %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>
                <a title="Cancel Subscription" href="{% url 'cancel_subscription' %}">Cancel Subscription</a>
            </td>
        </tr>
        <tr>
            <td>
                <a title="Change Password" href="{% url 'password_change' %}">Change Password</a>
            </td>
        </tr>
    </table>
{% endblock %}