{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <article class="article">
            <div class="wrapper">

                <div class="logo">
                    <img src="{% static 'banner_screenshot.png' %}">
                </div>

                <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;">Logout </h1>
                <table>
                    <tr>
                        <td>
                            <a href="{% url 'logout_success' %}">Click here to logout</a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    {% else %}
        <article class="article">
            <div class="wrapper">

                <div class="logo">
                    <img src="{% static 'banner_screenshot.png' %}">
                </div>

                <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;">Logout </h1>
                <table>
                    <tr>
                        <td>
                            Doesn't look like you're logged in.
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    {% endif %}
{% endblock %}
