{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;">Logout </h1>
        <table>
            <tr>
                <td>
                    <a href="{% url 'logout_success' %}">Click here to logout</a>
                </td>
            </tr>
        </table>
    {% else %}
        <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;">Logout </h1>
        <table>
            <tr>
                <td>
                    Doesn't look like you're logged in.
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
