{% extends "base.html" %}
{% load static %}

{% block content %}
    <article class="article">
        <div class="wrapper">

            <div class="logo">
                <img src="{% static 'banner_screenshot.png' %}">
            </div>

            <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;">Password Reset
                Confirm </h1>

            {% if validlink %}
                <p>Please enter (and confirm) your new password.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Change my password"/></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password
                    reset.</p>
            {% endif %}
        </div>
    </article>
    </main>

{% endblock %}