{% block head %}
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}"><button>Home</button></a>
    {% if user.is_authenticated %}
        <a href="{% url 'password_change' %}"><button>{{ user.username }}</button></a>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
    {% else %}
        <a href="{% url 'signup' %}"><button>Sign Up</button></a>
        <a href="{% url 'login' %}"><button>Login</button></a>
    {% endif %}
{% endblock %}

{% block content %}
{% endblock %}