{% block head %}
{% endblock %}

{% block navigation %}
    <a href="{% url 'home' %}">
        <button>Home</button>
    </a>
    {% if user.is_authenticated %}
        <a href="{% url 'password_change' %}">
            <button>{{ user.email }}</button>
        </a>
        <a href="{% url 'logout' %}">
            <button>Logout</button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>Sign Up</button>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}