{% extends 'base.html' %}
{% load static %}


{% block content %}

    <article class="article">
        <div class="wrapper">

            <div class="logo">
                <img src="{% static 'banner_screenshot.png' %}">
            </div>

            {% if user.is_authenticated %}
                <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;">Welcome {{ user.full_name }}</h1>
            {% else %}
                <h1 style="border-bottom: 3px solid #FD8224; color: #FD8224; margin-bottom: 10px;"> </h1>
            {% endif %}
            <aside class="copyright" role="note">
            </aside>
        </div>
    </article>
    </main>

{% endblock %}